html,
body,
.page-root {
    height: 100%;
    margin: 0;
    outline: none;
    font-family: arial, serif;
}

.page-root {
    --font-size_s: 14px;
    --font-size_m: 18px;
    --font-size_l: 20px;
    --font-size_xl: 24px;

    --offset_xs: 4px;
    --offset_s: 8px;
    --offset_m: 16px;
    --offset_l: 24px;
    --offset_xl: 32px;

    --border-radius_s: 4px;
    --border-radius_m: 8px;
    --border-radius_l: 16px;

    --color_accent: #b90000;
    --color_secondary: #005399;
    --color_dark0: #000;
    --color_light0: #ffffff;
    --color_dark1: #2e2e2e;
    --color_light1: #e2e2e2;
    --color_dark2: #585858;
    --color_light2: #858585;

    height: 100%;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    background-color: var(--color_light0);
    color: var(--color_dark0);
    flex-direction: column;
}

.full-width {
    width: 100%;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.page-header {
    flex-grow: 0;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color_dark0);
    padding: var(--offset_s) var(--offset_m);
}

.page-header-logo {
    font-family: "Arial Black", serif;
    font-size: var(--font-size_xl);
    color: var(--color_accent);
    text-decoration: none;
}

.page-header-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
}

.page-header-search-input {
    font-size: var(--font-size_m);
    background-color: var(--color_dark0);
    color: var(--color_light1);
    padding: var(--offset_xs);
    margin-left: var(--offset_m);
    width: 200px;
    transition: width .4s ease-in-out;
    outline: none;
    border: none;
}

.search-icon {
    margin-left: var(--offset_m);
    fill: var(--color_light1);
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.page-header-search-input:not(:placeholder-shown),
.page-header-search-input:focus {
    width: 100%;
}

.page-content {
    z-index: 0;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;
    box-sizing: border-box;
    padding: var(--offset_l);
}

.text-ellipsis {
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.font-size_s {
    font-size: var(--font-size_s);
}

.font-size_m {
    font-size: var(--font-size_m);
}

.text-primary {
    color: var(--color_dark0);
    font-weight: bold;
}

.text-secondary {
    color: var(--color_dark1);
}

.text-unaccented {
    color: var(--color_light2);
}

.text-primary-contrast {
    color: var(--color_light0);
    font-weight: bold;
}

.text-contrast {
    color: var(--color_light1);
}

.more-button-wrapper {
    text-align: right;
    width: 100%;
}

.more-button-wrapper::after {
    content: ' \276f';
}

.more-button {
    display: inline-block;
    cursor: pointer;
    margin-top: var(--offset_m);
    color: var(--color_secondary);
}

.more-button:hover {
    text-decoration: underline;
}

.section-wrapper {
    margin-bottom: var(--offset_l);
}

.section {
    margin-top: var(--offset_l);
}

.section-caption {
    text-align: center;
    font-size: var(--font-size_m);
    margin-bottom: var(--offset_m);
    padding-bottom: var(--offset_m);
    position: relative;
}

.section-caption:after {
    background: var(--color_accent);
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}

.subsection-caption {
    font-size: var(--font-size_l);
    margin-top: var(--offset_l);
    margin-bottom: var(--offset_m);
}


.placeholder400:empty {
    height: 400px;
}

.placeholder520:empty {
    height: 520px;
}

.placeholder400:empty,
.placeholder520:empty {
    width: 100%;
    background-color: #e6e6e6;
    position: relative;
    overflow: hidden;
}

.placeholder400:empty::after,
.placeholder520:empty::after {
    content: '';
    width: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 0 0 150px 150px rgb(160 160 160 / 50%);
    animation: skeleton 1.5s linear infinite;
    opacity: 0;
  }
  
  @keyframes skeleton {
    0% {
      left: -50%;
      opacity: 0;
    }
  
    20% {
      left: 10%;
      opacity: 0.4;
    }
  
    50% {
      left: 50%;
      opacity: 1;
    }
  
    100% {
      left: 120%;
      opacity: 0.0;
    }
}